flows.json
[{"id":"a9aca5d2.4f9228","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"c01c9a58.2607c8","type":"mqtt in","z":"a9aca5d2.4f9228","name":"","topic":"myphone/noise/decibels","qos":"2","datatype":"auto","broker":"58266214.e79a9c","x":200,"y":220,"wires":[["85f047d5.7ea3b8"]]},{"id":"163f4f00.084bd1","type":"debug","z":"a9aca5d2.4f9228","name":"Noise","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"6c8ccf26.fd4ef","type":"ui_gauge","z":"a9aca5d2.4f9228","name":"Gauge Noise","group":"65b47ec9.eaafd","order":0,"width":0,"height":0,"gtype":"gage","title":"Noise Sensor","label":"dB","format":"{{value}}","min":"-20","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0","seg2":"40","x":750,"y":180,"wires":[]},{"id":"85f047d5.7ea3b8","type":"function","z":"a9aca5d2.4f9228","name":"convert to 3decimal point","func":"msg.payload=parseFloat(msg.payload).toFixed(3)-0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":220,"wires":[["6c8ccf26.fd4ef","b2229537.25b198","27a4856b.62adca","163f4f00.084bd1"]]},{"id":"b2229537.25b198","type":"ui_chart","z":"a9aca5d2.4f9228","name":"Chart Noise ","group":"65b47ec9.eaafd","order":0,"width":0,"height":0,"label":"Noise Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-20","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":750,"y":220,"wires":[[]]},{"id":"27a4856b.62adca","type":"influxdb out","z":"a9aca5d2.4f9228","influxdb":"ea1bc80d.fee498","name":"MyDatabase-noise","measurement":"noise","precision":"","retentionPolicy":"","x":770,"y":260,"wires":[]},{"id":"51a1002a.ec366","type":"mqtt in","z":"a9aca5d2.4f9228","name":"","topic":"myphone/LightIntensity/x","qos":"2","datatype":"auto","broker":"58266214.e79a9c","x":210,"y":340,"wires":[["bd69837d.fc43d"]]},{"id":"1072719c.ca068e","type":"debug","z":"a9aca5d2.4f9228","name":"Light","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":320,"wires":[]},{"id":"402c638b.2c94fc","type":"ui_text","z":"a9aca5d2.4f9228","group":"65b47ec9.eaafd","order":5,"width":0,"height":0,"name":"","label":"Light Intensity:","format":"{{msg.payload}} lux","layout":"row-spread","x":760,"y":360,"wires":[]},{"id":"bd69837d.fc43d","type":"function","z":"a9aca5d2.4f9228","name":"convert string to float","func":"msg.payload=parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":340,"wires":[["1072719c.ca068e","402c638b.2c94fc","9211ae56.f7aa1","c9b7ad02.50559"]]},{"id":"9211ae56.f7aa1","type":"influxdb out","z":"a9aca5d2.4f9228","influxdb":"814811ae.a77e","name":"MyDatabase-light","measurement":"light","precision":"","retentionPolicy":"","x":770,"y":400,"wires":[]},{"id":"c9b7ad02.50559","type":"function","z":"a9aca5d2.4f9228","name":"threshold","func":"context.previousLight = context.previousLight || 0;\nvar Light = msg.payload;\n\nvar upperThreshold = 100;\nvar lowerThreshold = 30;\n\n// Check if the new temp is different from the previous\nif (context.previousLight != Light){\n\tif ( Light >= upperThreshold){\n\t\tmsg.payload = \"It's too bright! \";\n\t\t//msg.topic = \"It's too bright! \";\n\t\treturn msg;\n\t}\n\telse if ( Light <= lowerThreshold){\n\t\tmsg.payload = \"It's too dark! \";\n\t\t//msg.topic = \"It's too bright! \";\n\t\treturn msg;\n\t}\n\telse\n\t    {\tmsg.payload = \"Good Lighting \";\n\t        return msg;\n\t    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":440,"wires":[["c3494baf.5977c8"]]},{"id":"c3494baf.5977c8","type":"ui_text","z":"a9aca5d2.4f9228","group":"65b47ec9.eaafd","order":6,"width":0,"height":0,"name":"","label":"Light condition:","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":440,"wires":[]},{"id":"a84fb85e.8abf08","type":"mqtt in","z":"a9aca5d2.4f9228","name":"","topic":"myphone/Accelerometer/x","qos":"2","datatype":"auto","broker":"58266214.e79a9c","x":210,"y":560,"wires":[["963643ec.e1e0d"]]},{"id":"a7069cc.2c5866","type":"debug","z":"a9aca5d2.4f9228","name":"Accelerometer x","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":560,"wires":[]},{"id":"963643ec.e1e0d","type":"json","z":"a9aca5d2.4f9228","name":"","property":"payload","action":"","pretty":false,"x":430,"y":560,"wires":[["a7069cc.2c5866","1617678a.da2ad8","f8caf544.cfab58","7e7bc954.00ddc8"]]},{"id":"c015c786.8f2d78","type":"mqtt in","z":"a9aca5d2.4f9228","name":"","topic":"myphone/Accelerometer/y","qos":"2","datatype":"auto","broker":"58266214.e79a9c","x":210,"y":640,"wires":[["c3c199c6.7c7528"]]},{"id":"f7fd276a.f705d8","type":"debug","z":"a9aca5d2.4f9228","name":"Accelerometer y","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":640,"wires":[]},{"id":"c3c199c6.7c7528","type":"json","z":"a9aca5d2.4f9228","name":"","property":"payload","action":"","pretty":false,"x":430,"y":640,"wires":[["f7fd276a.f705d8","39b076cf.cb6d7a","6b4d2330.f5531c"]]},{"id":"1617678a.da2ad8","type":"influxdb out","z":"a9aca5d2.4f9228","influxdb":"ea1bc80d.fee498","name":"MyDatabase-accelerometer_x","measurement":"accelerometer_x","precision":"","retentionPolicy":"","x":810,"y":600,"wires":[]},{"id":"39b076cf.cb6d7a","type":"influxdb out","z":"a9aca5d2.4f9228","influxdb":"ea1bc80d.fee498","name":"MyDatabase-accelerometer_y","measurement":"accelerometer_y","precision":"","retentionPolicy":"","x":810,"y":680,"wires":[]},{"id":"6ce8b186.e7c31","type":"ui_chart","z":"a9aca5d2.4f9228","name":"","group":"65b47ec9.eaafd","order":8,"width":0,"height":0,"label":"Chart Accelerometer","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":800,"wires":[[]]},{"id":"5e4cf003.bfbeb","type":"mqtt in","z":"a9aca5d2.4f9228","name":"","topic":"myphone/Accelerometer/z","qos":"2","datatype":"auto","broker":"58266214.e79a9c","x":210,"y":720,"wires":[["f6e253e9.6ec6b"]]},{"id":"f6e253e9.6ec6b","type":"json","z":"a9aca5d2.4f9228","name":"","property":"payload","action":"","pretty":false,"x":430,"y":720,"wires":[["e9b74c82.49beb","1e01a803.8b7048","761d80c6.e0a2c"]]},{"id":"e9b74c82.49beb","type":"debug","z":"a9aca5d2.4f9228","name":"Accelerometer z","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":720,"wires":[]},{"id":"1e01a803.8b7048","type":"influxdb out","z":"a9aca5d2.4f9228","influxdb":"ea1bc80d.fee498","name":"MyDatabase-accelerometer_z","measurement":"accelerometer_z","precision":"","retentionPolicy":"","x":810,"y":760,"wires":[]},{"id":"8555991c.1f1518","type":"ui_audio","z":"a9aca5d2.4f9228","name":"","group":"65b47ec9.eaafd","voice":"","always":"","x":980,"y":520,"wires":[]},{"id":"f8caf544.cfab58","type":"function","z":"a9aca5d2.4f9228","name":"threshold","func":"context.previousmydata = context.previousmydata || 0;\nvar mydata = msg.payload;\n\nvar upperThreshold = 8;\nvar lowerThreshold = -5;\n\nif (context.previousmydata != mydata){\n    \nif ( mydata >= upperThreshold){\n\t\tmsg.payload = \"Upper \";\n\t\t//msg.topic = \"It's too bright! \";\n\t\treturn msg;\n\t}\n\telse if ( mydata <= lowerThreshold){\n\t\tmsg.payload = \"Lower\";\n\t\t//msg.topic = \"It's too bright! \";\n\t\treturn msg;\n\t}\n\telse\n\t    {\tmsg.payload = \"\";\n\t        return msg;\n\t    }\n}\n//msg.payload = \"Hi \";\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":520,"wires":[["8555991c.1f1518"]]},{"id":"8d06c3e5.81f96","type":"link in","z":"a9aca5d2.4f9228","name":"","links":["7e7bc954.00ddc8","6b4d2330.f5531c","761d80c6.e0a2c"],"x":635,"y":800,"wires":[["6ce8b186.e7c31"]]},{"id":"7e7bc954.00ddc8","type":"link out","z":"a9aca5d2.4f9228","name":"","links":["8d06c3e5.81f96"],"x":515,"y":520,"wires":[]},{"id":"6b4d2330.f5531c","type":"link out","z":"a9aca5d2.4f9228","name":"","links":["8d06c3e5.81f96"],"x":515,"y":600,"wires":[]},{"id":"761d80c6.e0a2c","type":"link out","z":"a9aca5d2.4f9228","name":"","links":["8d06c3e5.81f96"],"x":515,"y":680,"wires":[]},{"id":"58266214.e79a9c","type":"mqtt-broker","z":"","name":"MQTT Mosquitto localhost","broker":"192.168.1.89","port":"1883","tls":"","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"65b47ec9.eaafd","type":"ui_group","z":"","name":"Sensors","tab":"4a78d787.3c3d88","order":1,"disp":true,"width":"6","collapse":false},{"id":"ea1bc80d.fee498","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"MyDatabase","name":"","usetls":false,"tls":""},{"id":"814811ae.a77e","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"MyDatabase","name":"","usetls":false,"tls":""},{"id":"4a78d787.3c3d88","type":"ui_tab","z":"","name":"MyPhone Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]