flows.json
[{"id":"70c83a1723d016d3","type":"tab","label":"Reading data from Sensor Node","disabled":false,"info":""},{"id":"b9f26fede96172f0","type":"mqtt in","z":"70c83a1723d016d3","name":"","topic":"myphone/noise/decibels","qos":"2","datatype":"auto","broker":"58266214.e79a9c","nl":false,"rap":false,"inputs":0,"x":200,"y":220,"wires":[["03f376078d1f8335","8a5e4195adce74f4"]]},{"id":"e22f7c1e429f7613","type":"debug","z":"70c83a1723d016d3","name":"Noise","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"03f376078d1f8335","type":"function","z":"70c83a1723d016d3","name":"convert to 3decimal point","func":"msg.payload=parseFloat(msg.payload).toFixed(3)-0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":220,"wires":[["92a24a6fbdfee6eb","92feeb30e391bc48","e22f7c1e429f7613","e41bc126fd00dcd1"]]},{"id":"92a24a6fbdfee6eb","type":"ui_chart","z":"70c83a1723d016d3","name":"Chart Noise ","group":"65b47ec9.eaafd","order":12,"width":0,"height":0,"label":"Noise Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-20","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":220,"wires":[[]]},{"id":"92feeb30e391bc48","type":"influxdb out","z":"70c83a1723d016d3","influxdb":"ea1bc80d.fee498","name":"MyDatabase-noise","measurement":"noise","precision":"","retentionPolicy":"","x":770,"y":260,"wires":[]},{"id":"59985dc6ab9d1554","type":"mqtt in","z":"70c83a1723d016d3","name":"","topic":"myphone/LightIntensity/x","qos":"2","datatype":"auto","broker":"58266214.e79a9c","inputs":0,"x":210,"y":340,"wires":[["f82f2290c2ced62c"]]},{"id":"c056bad744b2eb71","type":"debug","z":"70c83a1723d016d3","name":"Light","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":320,"wires":[]},{"id":"5576bdfcf38398c3","type":"ui_text","z":"70c83a1723d016d3","group":"65b47ec9.eaafd","order":1,"width":0,"height":0,"name":"","label":"Light Intensity:","format":"{{msg.payload}} lux","layout":"row-spread","className":"","x":760,"y":360,"wires":[]},{"id":"f82f2290c2ced62c","type":"function","z":"70c83a1723d016d3","name":"convert string to float","func":"msg.payload=parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":340,"wires":[["c056bad744b2eb71","5576bdfcf38398c3","b75662bb278eaa4a","3cefcecce2d1201d","7b9e20cd296d368a"]]},{"id":"b75662bb278eaa4a","type":"influxdb out","z":"70c83a1723d016d3","influxdb":"814811ae.a77e","name":"MyDatabase-light","measurement":"light","precision":"","retentionPolicy":"","x":770,"y":400,"wires":[]},{"id":"3cefcecce2d1201d","type":"function","z":"70c83a1723d016d3","name":"threshold","func":"context.previousLight = context.previousLight || 0;\nvar Light = msg.payload;\n\nvar upperThreshold = 100;\nvar lowerThreshold = 1;\n\n// Check if the new temp is different from the previous\nif (context.previousLight != Light){\n\tif ( Light >= upperThreshold){\n\t\tmsg.payload = \"It's too bright! \";\n\t\t//msg.topic = \"It's too bright! \";\n\t\treturn msg;\n\t}\n\telse if ( Light <= lowerThreshold){\n\t\tmsg.payload = \"It's too dark! \";\n\t\t//msg.topic = \"It's too bright! \";\n\t\treturn msg;\n\t}\n\telse\n\t    {\tmsg.payload = \"Good Lighting \";\n\t        return msg;\n\t    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":440,"wires":[["f70b41fbc74940e7"]]},{"id":"f70b41fbc74940e7","type":"ui_text","z":"70c83a1723d016d3","group":"65b47ec9.eaafd","order":2,"width":0,"height":0,"name":"","label":"Light condition:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":960,"y":440,"wires":[]},{"id":"7e7c0b1e509cb46b","type":"mqtt in","z":"70c83a1723d016d3","name":"","topic":"myphone/Accelerometer/x","qos":"2","datatype":"auto","broker":"58266214.e79a9c","inputs":0,"x":210,"y":580,"wires":[["e0fb74dc8de9836c"]]},{"id":"9ebb5735153ace9a","type":"debug","z":"70c83a1723d016d3","name":"Accelerometer x","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":580,"wires":[]},{"id":"e0fb74dc8de9836c","type":"json","z":"70c83a1723d016d3","name":"","property":"payload","action":"","pretty":false,"x":430,"y":580,"wires":[["9ebb5735153ace9a","168937dd0c4aa452","c54c891dbbe9da2e","d222e8082c612272"]]},{"id":"71d848ed1a63bfef","type":"mqtt in","z":"70c83a1723d016d3","name":"","topic":"myphone/Accelerometer/y","qos":"2","datatype":"auto","broker":"58266214.e79a9c","inputs":0,"x":210,"y":660,"wires":[["08876dc56dcb11a1"]]},{"id":"4f5352e8fbdfaf8c","type":"debug","z":"70c83a1723d016d3","name":"Accelerometer y","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":660,"wires":[]},{"id":"08876dc56dcb11a1","type":"json","z":"70c83a1723d016d3","name":"","property":"payload","action":"","pretty":false,"x":430,"y":660,"wires":[["4f5352e8fbdfaf8c","ee2dd85429a6c126","130272f334539ca2"]]},{"id":"168937dd0c4aa452","type":"influxdb out","z":"70c83a1723d016d3","influxdb":"ea1bc80d.fee498","name":"MyDatabase-accelerometer_x","measurement":"accelerometer_x","precision":"","retentionPolicy":"","x":810,"y":620,"wires":[]},{"id":"ee2dd85429a6c126","type":"influxdb out","z":"70c83a1723d016d3","influxdb":"ea1bc80d.fee498","name":"MyDatabase-accelerometer_y","measurement":"accelerometer_y","precision":"","retentionPolicy":"","x":810,"y":700,"wires":[]},{"id":"ee0c59fea8178680","type":"ui_chart","z":"70c83a1723d016d3","name":"","group":"65b47ec9.eaafd","order":8,"width":0,"height":0,"label":"Chart Accelerometer","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":780,"y":820,"wires":[[]]},{"id":"634b8efc02c4f8f5","type":"mqtt in","z":"70c83a1723d016d3","name":"","topic":"myphone/Accelerometer/z","qos":"2","datatype":"auto","broker":"58266214.e79a9c","inputs":0,"x":210,"y":740,"wires":[["ec58e5a41d108596"]]},{"id":"ec58e5a41d108596","type":"json","z":"70c83a1723d016d3","name":"","property":"payload","action":"","pretty":false,"x":430,"y":740,"wires":[["1775ab31707d7b84","67569dbcafa44aa5","91b609ce2f21c6e1"]]},{"id":"1775ab31707d7b84","type":"debug","z":"70c83a1723d016d3","name":"Accelerometer z","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":740,"wires":[]},{"id":"67569dbcafa44aa5","type":"influxdb out","z":"70c83a1723d016d3","influxdb":"ea1bc80d.fee498","name":"MyDatabase-accelerometer_z","measurement":"accelerometer_z","precision":"","retentionPolicy":"","x":810,"y":780,"wires":[]},{"id":"9016623fe9962859","type":"ui_audio","z":"70c83a1723d016d3","name":"","group":"65b47ec9.eaafd","voice":"","always":"","x":980,"y":540,"wires":[]},{"id":"c54c891dbbe9da2e","type":"function","z":"70c83a1723d016d3","name":"threshold","func":"context.previousmydata = context.previousmydata || 0;\nvar mydata = msg.payload;\n\nvar upperThreshold = 8;\nvar lowerThreshold = -5;\n\nif (context.previousmydata != mydata){\n    \nif ( mydata >= upperThreshold){\n\t\tmsg.payload = \"Upper \";\n\t\treturn msg;\n\t}\n\telse if ( mydata <= lowerThreshold){\n\t\tmsg.payload = \"Lower \";\n\t\treturn msg;\n\t}\n\telse\n\t    {\tmsg.payload = \"\";\n\t        return msg;\n\t    }\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":540,"wires":[["9016623fe9962859"]]},{"id":"ac25cb5ed27bb423","type":"link in","z":"70c83a1723d016d3","name":"","links":["d222e8082c612272","130272f334539ca2","91b609ce2f21c6e1"],"x":635,"y":820,"wires":[["ee0c59fea8178680"]]},{"id":"d222e8082c612272","type":"link out","z":"70c83a1723d016d3","name":"","links":["ac25cb5ed27bb423"],"x":515,"y":540,"wires":[]},{"id":"130272f334539ca2","type":"link out","z":"70c83a1723d016d3","name":"","links":["ac25cb5ed27bb423"],"x":515,"y":620,"wires":[]},{"id":"91b609ce2f21c6e1","type":"link out","z":"70c83a1723d016d3","name":"","links":["ac25cb5ed27bb423"],"x":515,"y":700,"wires":[]},{"id":"8724b07639becb8a","type":"telegram sender","z":"70c83a1723d016d3","d":true,"name":"Send response","bot":"d918e20d.f9968","haserroroutput":false,"outputs":1,"x":960,"y":480,"wires":[[]]},{"id":"7b9e20cd296d368a","type":"function","z":"70c83a1723d016d3","name":"threshold","func":"context.previousLight = context.previousLight || 0;\nvar Light = msg.payload;\nvar chatId = 1244527162;//<--You telegram ID\nvar upperThreshold = 120;\nvar lowerThreshold = 30;\n\n\nif (context.previousLight != Light){\n\tif ( Light <= lowerThreshold){\n\t\tmsg.payload = {\n\t\t    \"chatId\":chatId,\n            \"type\":\"message\",\n            \"content\":\"It's too dark! \"}\n\t\treturn msg;\n\t\t\t}\n\telse\n\t    {\t\n\t        return msg;\n\t    }\n}\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":480,"wires":[["8724b07639becb8a"]]},{"id":"e41bc126fd00dcd1","type":"ui_gauge","z":"70c83a1723d016d3","name":"","group":"65b47ec9.eaafd","order":3,"width":0,"height":0,"gtype":"gage","title":"Gauge Noise","label":"units","format":"{{value}}","min":"-20","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":750,"y":180,"wires":[]},{"id":"3d78754dc25f670f","type":"comment","z":"70c83a1723d016d3","name":"Read data from Phone ","info":"","x":200,"y":160,"wires":[]},{"id":"7d028e495fc18e88","type":"file","z":"70c83a1723d016d3","name":"","filename":"C:\\Users\\nazrin\\Downloads\\data_noise.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":850,"y":880,"wires":[[]]},{"id":"e6389f528704c5a5","type":"csv","z":"70c83a1723d016d3","name":"","sep":",","hdrin":"","hdrout":"once","multi":"one","ret":"\\n","temp":"timestamp,noise","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":430,"y":880,"wires":[["7d028e495fc18e88"]]},{"id":"c65c016fd4afe91d","type":"function","z":"70c83a1723d016d3","name":"Set data","func":"var now = new Date();\nvar noise =msg.payload;\n\nmsg.payload = {\n    \"timestamp\" : now,\n    \"noise\" : noise,\n                }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":880,"wires":[["e6389f528704c5a5"]]},{"id":"0c5a648dc1852db4","type":"json","z":"70c83a1723d016d3","name":"","property":"payload","action":"","pretty":false,"x":170,"y":880,"wires":[["c65c016fd4afe91d"]]},{"id":"60e874ada5af1b0b","type":"comment","z":"70c83a1723d016d3","name":"Store data","info":"","x":180,"y":840,"wires":[]},{"id":"8a5e4195adce74f4","type":"link out","z":"70c83a1723d016d3","name":"","mode":"link","links":["7250d9bdf1367dbe"],"x":355,"y":180,"wires":[]},{"id":"7250d9bdf1367dbe","type":"link in","z":"70c83a1723d016d3","name":"","links":["8a5e4195adce74f4"],"x":75,"y":880,"wires":[["0c5a648dc1852db4"]]},{"id":"58266214.e79a9c","type":"mqtt-broker","name":"MQTT Mosquitto localhost","broker":"10.100.115.23","port":"1883","tls":"","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"65b47ec9.eaafd","type":"ui_group","name":"Sensors","tab":"4a78d787.3c3d88","order":2,"disp":true,"width":"6","collapse":false},{"id":"ea1bc80d.fee498","type":"influxdb","hostname":"localhost","port":"8086","protocol":"http","database":"MyDatabase","name":"","usetls":false,"tls":""},{"id":"814811ae.a77e","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"MyDatabase","name":"","usetls":false,"tls":""},{"id":"d918e20d.f9968","type":"telegram bot","botname":"MyBot","usernames":"MrNazrinBot","chatids":"1244527162","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"","socksusername":"","sockspassword":"","bothost":"","botpath":"","localbotport":"","publicbotport":"","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"4a78d787.3c3d88","type":"ui_tab","name":"MyPhone Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]