flows.json
[{"id":"8c491addca74a08c","type":"tab","label":"Reading data from Sensor Node","disabled":false,"info":""},{"id":"797b422825dfaeca","type":"mqtt in","z":"8c491addca74a08c","name":"","topic":"myphone/noise/decibels","qos":"2","datatype":"auto","broker":"58266214.e79a9c","inputs":0,"x":200,"y":220,"wires":[["eb4d381d284b1091"]]},{"id":"0ea8018b3d2d4551","type":"debug","z":"8c491addca74a08c","name":"Noise","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"3be7aae243d5e063","type":"ui_gauge","z":"8c491addca74a08c","name":"Gauge Noise","group":"65b47ec9.eaafd","order":0,"width":0,"height":0,"gtype":"gage","title":"Noise Sensor","label":"dB","format":"{{value}}","min":"-20","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"0","seg2":"40","className":"","x":750,"y":180,"wires":[]},{"id":"eb4d381d284b1091","type":"function","z":"8c491addca74a08c","name":"convert to 3decimal point","func":"msg.payload=parseFloat(msg.payload).toFixed(3)-0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":220,"wires":[["3be7aae243d5e063","5be2f3fa18e8854a","11ad6db67b8bb84d","0ea8018b3d2d4551"]]},{"id":"5be2f3fa18e8854a","type":"ui_chart","z":"8c491addca74a08c","name":"Chart Noise ","group":"65b47ec9.eaafd","order":0,"width":0,"height":0,"label":"Noise Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-20","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":750,"y":220,"wires":[[]]},{"id":"11ad6db67b8bb84d","type":"influxdb out","z":"8c491addca74a08c","influxdb":"ea1bc80d.fee498","name":"MyDatabase-noise","measurement":"noise","precision":"","retentionPolicy":"","x":770,"y":260,"wires":[]},{"id":"43567caae8fb9133","type":"mqtt in","z":"8c491addca74a08c","name":"","topic":"myphone/LightIntensity/x","qos":"2","datatype":"auto","broker":"58266214.e79a9c","inputs":0,"x":210,"y":340,"wires":[["7cca89ba6e5f47d7"]]},{"id":"f6aa3118026d94ab","type":"debug","z":"8c491addca74a08c","name":"Light","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":320,"wires":[]},{"id":"98bc216d53145bbe","type":"ui_text","z":"8c491addca74a08c","group":"65b47ec9.eaafd","order":5,"width":0,"height":0,"name":"","label":"Light Intensity:","format":"{{msg.payload}} lux","layout":"row-spread","className":"","x":760,"y":360,"wires":[]},{"id":"7cca89ba6e5f47d7","type":"function","z":"8c491addca74a08c","name":"convert string to float","func":"msg.payload=parseFloat(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":340,"wires":[["f6aa3118026d94ab","98bc216d53145bbe","5c0f3618184a43fa","65b5f80e6bc40e97","f9fd8a199edd7580"]]},{"id":"5c0f3618184a43fa","type":"influxdb out","z":"8c491addca74a08c","influxdb":"814811ae.a77e","name":"MyDatabase-light","measurement":"light","precision":"","retentionPolicy":"","x":770,"y":400,"wires":[]},{"id":"65b5f80e6bc40e97","type":"function","z":"8c491addca74a08c","name":"threshold","func":"context.previousLight = context.previousLight || 0;\nvar Light = msg.payload;\n\nvar upperThreshold = 100;\nvar lowerThreshold = 30;\n\n// Check if the new temp is different from the previous\nif (context.previousLight != Light){\n\tif ( Light >= upperThreshold){\n\t\tmsg.payload = \"It's too bright! \";\n\t\t//msg.topic = \"It's too bright! \";\n\t\treturn msg;\n\t}\n\telse if ( Light <= lowerThreshold){\n\t\tmsg.payload = \"It's too dark! \";\n\t\t//msg.topic = \"It's too bright! \";\n\t\treturn msg;\n\t}\n\telse\n\t    {\tmsg.payload = \"Good Lighting \";\n\t        return msg;\n\t    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":440,"wires":[["e3576e5ea3393373"]]},{"id":"e3576e5ea3393373","type":"ui_text","z":"8c491addca74a08c","group":"65b47ec9.eaafd","order":6,"width":0,"height":0,"name":"","label":"Light condition:","format":"{{msg.payload}}","layout":"row-spread","className":"","x":960,"y":440,"wires":[]},{"id":"614370e8f963f08e","type":"mqtt in","z":"8c491addca74a08c","name":"","topic":"myphone/Accelerometer/x","qos":"2","datatype":"auto","broker":"58266214.e79a9c","inputs":0,"x":210,"y":580,"wires":[["dd3071128118992b"]]},{"id":"72d0e3376dd9f38f","type":"debug","z":"8c491addca74a08c","name":"Accelerometer x","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":580,"wires":[]},{"id":"dd3071128118992b","type":"json","z":"8c491addca74a08c","name":"","property":"payload","action":"","pretty":false,"x":430,"y":580,"wires":[["72d0e3376dd9f38f","7c8d6d9a2e86a665","6f8d03a5d497333c","f08356e5458eaf6e"]]},{"id":"c1b52d5a41faba30","type":"mqtt in","z":"8c491addca74a08c","name":"","topic":"myphone/Accelerometer/y","qos":"2","datatype":"auto","broker":"58266214.e79a9c","inputs":0,"x":210,"y":660,"wires":[["4f70e6a8eb029822"]]},{"id":"8678baeedcf28759","type":"debug","z":"8c491addca74a08c","name":"Accelerometer y","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":660,"wires":[]},{"id":"4f70e6a8eb029822","type":"json","z":"8c491addca74a08c","name":"","property":"payload","action":"","pretty":false,"x":430,"y":660,"wires":[["8678baeedcf28759","9f97abd53537d6f7","955844e29514d38f"]]},{"id":"7c8d6d9a2e86a665","type":"influxdb out","z":"8c491addca74a08c","influxdb":"ea1bc80d.fee498","name":"MyDatabase-accelerometer_x","measurement":"accelerometer_x","precision":"","retentionPolicy":"","x":810,"y":620,"wires":[]},{"id":"9f97abd53537d6f7","type":"influxdb out","z":"8c491addca74a08c","influxdb":"ea1bc80d.fee498","name":"MyDatabase-accelerometer_y","measurement":"accelerometer_y","precision":"","retentionPolicy":"","x":810,"y":700,"wires":[]},{"id":"9f5960136ebcd3a5","type":"ui_chart","z":"8c491addca74a08c","name":"","group":"65b47ec9.eaafd","order":8,"width":0,"height":0,"label":"Chart Accelerometer","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":780,"y":820,"wires":[[]]},{"id":"3ea0848467145802","type":"mqtt in","z":"8c491addca74a08c","name":"","topic":"myphone/Accelerometer/z","qos":"2","datatype":"auto","broker":"58266214.e79a9c","inputs":0,"x":210,"y":740,"wires":[["4b341d7d6582b850"]]},{"id":"4b341d7d6582b850","type":"json","z":"8c491addca74a08c","name":"","property":"payload","action":"","pretty":false,"x":430,"y":740,"wires":[["6d4628dcd9ad31a8","02e4977e31015bd7","9b2312621e25da06"]]},{"id":"6d4628dcd9ad31a8","type":"debug","z":"8c491addca74a08c","name":"Accelerometer z","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":740,"wires":[]},{"id":"02e4977e31015bd7","type":"influxdb out","z":"8c491addca74a08c","influxdb":"ea1bc80d.fee498","name":"MyDatabase-accelerometer_z","measurement":"accelerometer_z","precision":"","retentionPolicy":"","x":810,"y":780,"wires":[]},{"id":"1a06130dfb2a33e7","type":"ui_audio","z":"8c491addca74a08c","name":"","group":"65b47ec9.eaafd","voice":"","always":"","x":980,"y":540,"wires":[]},{"id":"6f8d03a5d497333c","type":"function","z":"8c491addca74a08c","name":"threshold","func":"context.previousmydata = context.previousmydata || 0;\nvar mydata = msg.payload;\n\nvar upperThreshold = 8;\nvar lowerThreshold = -5;\n\nif (context.previousmydata != mydata){\n    \nif ( mydata >= upperThreshold){\n\t\tmsg.payload = \"Upper \";\n\t\t//msg.topic = \"It's too bright! \";\n\t\treturn msg;\n\t}\n\telse if ( mydata <= lowerThreshold){\n\t\tmsg.payload = \"Lower\";\n\t\t//msg.topic = \"It's too bright! \";\n\t\treturn msg;\n\t}\n\telse\n\t    {\tmsg.payload = \"\";\n\t        return msg;\n\t    }\n}\n//msg.payload = \"Hi \";\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":540,"wires":[["1a06130dfb2a33e7"]]},{"id":"37e5d11bb9e8acdf","type":"link in","z":"8c491addca74a08c","name":"","links":["f08356e5458eaf6e","955844e29514d38f","9b2312621e25da06"],"x":635,"y":820,"wires":[["9f5960136ebcd3a5"]]},{"id":"f08356e5458eaf6e","type":"link out","z":"8c491addca74a08c","name":"","links":["37e5d11bb9e8acdf"],"x":515,"y":540,"wires":[]},{"id":"955844e29514d38f","type":"link out","z":"8c491addca74a08c","name":"","links":["37e5d11bb9e8acdf"],"x":515,"y":620,"wires":[]},{"id":"9b2312621e25da06","type":"link out","z":"8c491addca74a08c","name":"","links":["37e5d11bb9e8acdf"],"x":515,"y":700,"wires":[]},{"id":"6df590afa709a72b","type":"telegram sender","z":"8c491addca74a08c","name":"Send response","bot":"d918e20d.f9968","haserroroutput":false,"outputs":1,"x":960,"y":480,"wires":[[]]},{"id":"f9fd8a199edd7580","type":"function","z":"8c491addca74a08c","name":"threshold","func":"context.previousLight = context.previousLight || 0;\nvar Light = msg.payload;\nvar chatId = 1244527162;\nvar upperThreshold = 120;\nvar lowerThreshold = 30;\n\n// Check if the new temp is different from the previous\nif (context.previousLight != Light){\n\tif ( Light <= lowerThreshold){\n\t\tmsg.payload = {\n\t\t    \"chatId\":chatId,\n            \"type\":\"message\",\n            \"content\":\"It's too dark! \"}\n\t\treturn msg;\n\t\t\t}\n\telse\n\t    {\t\n\t        return msg;\n\t    }\n}\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":480,"wires":[["6df590afa709a72b"]]},{"id":"58266214.e79a9c","type":"mqtt-broker","name":"MQTT Mosquitto localhost","broker":"192.168.1.89","port":"1883","tls":"","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"65b47ec9.eaafd","type":"ui_group","name":"Sensors","tab":"4a78d787.3c3d88","order":1,"disp":true,"width":"6","collapse":false},{"id":"ea1bc80d.fee498","type":"influxdb","hostname":"localhost","port":"8086","protocol":"http","database":"MyDatabase","name":"","usetls":false,"tls":""},{"id":"814811ae.a77e","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"MyDatabase","name":"","usetls":false,"tls":""},{"id":"d918e20d.f9968","type":"telegram bot","botname":"MyBot","usernames":"MrNazrinBot","chatids":"1244527162","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"","socksusername":"","sockspassword":"","bothost":"","botpath":"","localbotport":"","publicbotport":"","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"4a78d787.3c3d88","type":"ui_tab","d":true,"name":"MyPhone Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false}]